


  <h3>Project Portal</h3>

<h3><%= @project.title %></h3>



<ul>
  <% @volunteers.each do |volunteer| %>
    <li> <a href="/volunteer/<%= volunteer.id %>"> <%= volunteer.name %> </a> </li>
  <% end %>
</ul>

<form class="form-group" action="/project/:id" method="post">

  <div class="add_volunteer">
    <label for="name">Volunteers :</label>
    <input type="text" name="name" id="name" required placeholder="Name">
  </div>
  <button type="submit" class="btn btn-success" name="button">Add volunteer</button>
</form>




<h4> <a href="/project/<%= @id %>/update">Edit Project Title</a> </h4>

<h4> <a href="/project/<%= @id %>/edit">Delete Project</a> </h4>


<a href="/">Back to Home</a>
